.sidenav {
	width: 250px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.list-item-active {
  font-weight: bold;
  color: mat-color(map-get($theme, accent), darker) !important;
  background: rgba(0, 0, 0, 0.04);
}

.nav-list-icon {
  margin: 0 $nav-list-icon-padding 0 $nav-list-icon-padding;
}

.toolbar-title {
  font-weight: bold;
  color: mat-color(map-get($theme, accent), darker) !important;
  //margin: 0 $toolbar-title-padding 0 $toolbar-title-padding;
}
