<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="serviceFG">

    <form [formGroup]="serviceFG">
      
      <ng-template matStepLabel>Select the type of service to create</ng-template>

      <mat-form-field>
        <mat-label>Pick a name for the service</mat-label>
        <input matInput type="text" placeholder="newservice" value="">
        <mat-hint>Use lowercase letters and 0-9</mat-hint>
      </mat-form-field>
      <br/>
      <br/>

      <mat-form-field>
      <mat-label>Select the type of service</mat-label>
        <mat-select [(value)]="selectedServiceType">
          <mat-option *ngFor="let type of serviceTypes"
            [value]="type.value">
           {{ type.displayName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br/>
      <br/>

      <mat-form-field>
      <mat-label>Select the template</mat-label>
        <mat-select>
          <mat-option *ngFor="let tpl of services | serviceFilter: selectedServiceType : 'type'" 
            [value]="tpl.key">
           {{tpl.description}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br/>
      <br/>

      <mat-card style="width: 30%;" class="result">
        <mat-card-content>
        <h2 class="example-h2">Repository options</h2>

        <section class="example-section">
        <mat-slide-toggle
           class="example-margin"
           color="primary"
           [checked]="OSS">
           Open source
        </mat-slide-toggle>
        </section>
        <br/>
        <section class="example-section">
        <mat-slide-toggle
           class="example-margin"
           color="primary"
           [checked]="createNewRepo">
           Create new repository
        </mat-slide-toggle>
        </section>
      </mat-card-content>
      </mat-card>
      <br/>

      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>

  </mat-step>


  <mat-step [stepControl]="orgFG">
    <form [formGroup]="orgFG">
      <ng-template matStepLabel>Organization</ng-template>
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
               required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
