<div>
	<h2>table name</h2>
</div>

<mat-grid-list cols="6" class="left">
	<mat-grid-tile rowspan="1">
		<mat-grid-tile-header [style.background]="'#3f51b5'">
				Variable types
		</mat-grid-tile-header>

		<app-variable-types
		  (forward)="forwardDropped($event)"
		  class="drop-title">
		</app-variable-types>
	</mat-grid-tile>

	<mat-grid-tile colspan="5" rowspan="2">
		<mat-grid-tile-header style="background: #3f51b5;">
			Document columns
		</mat-grid-tile-header>

		<fieldset cdkDropList
		 (cdkDropListDropped)="itemDropped($event)">

	<legend>Fields</legend>
		<app-table></app-table>
	</fieldset>
	</mat-grid-tile>

</mat-grid-list>

